



/* body{
    margin: 0;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;

}

.data{
    margin-top: 10px;
}

.top-container{
    display: flex;
    background-color: gray;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
    margin-left: 50px;
    margin-right: 50px;
} */

